section.softSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.softSkillsHeading {
      color: #18181b;
      font-size: 2.8rem;
      text-align: center;
    }

    span {
      color: #18181b;
      font-size: 1.5rem;
    }
  }
}
