/* @keyframes appear {
  from {
    opacity: 0.75;
    transform: scale(0.75);
    filter: brightness(150%);
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: brightness(100%);
  }
} */

section.about {
  /* animation: appear 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%; */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; */
  padding:
    /* 1.5rem */
    0 2rem 1.5rem 2rem;
  /* background-color: red; */

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.h2 {
      /* color: #18181b; */
      font-size: 2.8rem;
      text-align: center;
    }

    span {
      /* color: #18181b; */
      font-size: 1.5rem;
      text-align: center;
    }
  }

  div.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    gap: 3.5rem;

    div.info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;

      /* div.school {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      } */

      div.school,
      div.phone,
      div.location,
      div.email {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        /* border: 1px solid #eaeaea;
            border-radius: 0.5rem;
            padding: 0.5rem;
            background-color: rgba(250, 250, 250, 0.8); */

        span:first-of-type {
          font-weight: 400;
          color: var(--details);
          font-size: 1rem !important;
        }

        span:nth-of-type(2),
        span.bold {
          font-weight: bold;
          /* color: black; */
        }

        .icon {
          color: var(--accent-color);
          font-size: 1.8rem;
        }

        .iconAux {
          color: #d5d5d5;
          font-size: 1.5rem;
        }

        div.schoolInfo,
        div.phoneInfo,
        div.locationInfo,
        div.emailInfo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          span {
            font-size: 1.3rem;
          }
        }

        div.locationInfo {
          a {
            color: var(--text-color);
            text-decoration: none;
            font-size: 1.3rem;
          }
        }

        /* div.emailInfo {
          flex-direction: row;
        } */
      }

      /* div.phone,
          div.location,
          div.email {
            span:first-of-type {
              font-weight: 400;
              color: var(--details);
              font-size: 1rem !important;
            }

            span:nth-of-type(2) {
              font-weight: 400;
            }

            span:last-of-type {
              font-weight: 600;
            }
          } */

      div.email,
      div.phone {
        /* span:nth-of-type(2) {
              font-weight: 400;
            } */

        span.row {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 0.5rem;

          a {
            color: var(--text-color);
            text-decoration: none;
            font-size: 1.3rem;
            /* font-weight: 600; */
          }

          .copy {
            color: rgb(225, 225, 225);
            font-size: 1.3rem;

            @media (hover: hover) and (pointer: fine) {
              &:hover {
                color: var(--details);
              }
            }
          }

          .copied {
            color: #24292e;
            font-size: 1.3rem;
          }
        }
      }
    }

    /* div.image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem; */

    img {
      width: 100%;
      max-width: 16rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      /* aspect-ratio: 16/9; */
      object-fit: cover;
      object-position: center;
    }

    /* } */
  }
}

@media only screen and (max-width: 768px) {
  section.about {
    padding:
      0 1.5rem 1.5rem 1.5rem;

    header.header {
      h2.h2 {
        font-size: 2rem;
      }

      span {
        font-size: 1.2rem;
        width: 32ch;
      }
    }

    div.main {
      flex-direction: column-reverse;
      align-items: center;
      gap: 1rem;

      div.info {
        /* div.info * */
        /* align-items: center; */
        /* font-size: 1.2rem !important; */
        gap: 0.5rem;

        div.school,
        div.phone,
        div.location,
        div.email {
          gap: 0.5rem;

          .icon {
            font-size: 1.5rem;
            /* color: red !important; */
          }

          .iconAux {
            font-size: 1.2rem;
            /* color: red !important; */
          }

          div.schoolInfo,
          div.phoneInfo,
          div.locationInfo,
          div.emailInfo {
            span {
              font-size: 1.2rem;
              /* color: red !important; */
            }
          }

          div.locationInfo {
            a {
              font-size: 1.2rem;
              /* color: red !important; */
            }
          }
        }

        div.email,
        div.phone {
          span.row {
            font-size: 1.2rem;

            a {
              font-size: 1.2rem;
              /* color: red !important; */
            }

            .copy,
            .copied {
              font-size: 1.2rem;
              /* color: red !important; */
            }
          }
        }
      }

      img {
        /* display: none; */
        max-width: 12rem;
      }
    }
  }
}
