select,
::picker(select) {
  appearance: base-select;
}

select {
  padding: 0.25rem
    /* 0.5rem 0.75rem */
  ;
  border-radius: 0.25rem;
  border: 1px solid var(--details);
  background-color: #fff;
  /* font-size: 1em; */
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  /* &:focus,
  &:hover {
    border-color: #646cff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.3);
  } */
}

select selectedcontent {
  font-weight: bold;

  & .icon {
    margin-right: 0.25rem
      /* 0.5rem */
    ;
  }
}

select::picker-icon {
  color: var(--accent-color);
  transition: 0.3s transform
    /*  ease-in-out */
  ;
}

select:open::picker-icon {
  transform: rotate(180deg);
}

::picker(select) {
  /* appearance: none; */

  background-color: #fafafa;
  color: var(--text-color);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

select option {
  padding: 0.25rem
    /* 0.5rem 0.75rem */
  ;
  background-color: #fff;
  color: var(--text-color);

  /* nth-of-type */
  &:nth-child(odd) {
    background-color: #f9f9f9;
  }

  &:hover {
    background-color: var(--details);
    color: white;
  }

  &:checked {
    background-color: var(--accent-color);
    color: hsl(0, 0%, 100%);
  }

  &:focus {
    outline: 2px solid var(--accent-color);
  }

  /* &:disabled {
    background-color: #f0f0f0;
    color: #a1a1a1;
    cursor: not-allowed;
  } */

  /* &::checkmark { */
  /* color: hsl(0, 0%, 100%); */
  /* color: var(--accent-color); */
  /* order: 1; */
  /* content: "✅" */
  /* '✓' */
  /* ;
  } */

  .icon {
    margin-right: 0.25rem
      /* 0.5rem */
    ;
  }
}

/* option {
  padding: 8px 12px;
  background-color: red;

  &:hover {
    background-color: blue;
  }

  &:checked {
    background-color: yellow;
  }

  &:focus {
    outline: 2px solid green;
  }

  &:disabled {
    background-color: gray;
    color: darkgray;
    cursor: not-allowed;
  } */

/* &:checked {
    font-weight: bold;
  } */
/* } */

/* select,
::picker(select) { */
/* padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1em;
  cursor: pointer;

  &:focus {
    border-color: #646cff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.3);
  } */

/* appearance: base-select;
} */
