aside.asideNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  height: 100%
    /* 100dvh */
  ;
  padding: 2rem;
  z-index: 10;

  a {
    text-decoration: none;
    color: transparent;
    z-index: 1;

    .dot,
    .dotActive {
      background-color: rgba(250, 250, 250, 1);
      border-radius: 50%;
      border: 1px solid #eaeaea;
      transition: all 0.2s ease-in-out;
    }

    .dot:hover {
      background-color: #D9D9D9;
      border: 1px solid #D9D9D9;
      scale: 1.1;
    }

    .dotActive {
      background-color: #D9D9D9;
      border: 1px solid #D9D9D9;
    }

    .dotSize1 {
      width: 1.2rem;
      height: 1.2rem;
    }

    .dotSize2 {
      width: 1.5rem;
      height: 1.5rem;
    }

    .dotSize3 {
      width: 1.8rem;
      height: 1.8rem;
    }

    .dotSize4 {
      width: 2.1rem;
      height: 2.1rem;
    }

    .dotSize5 {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

aside.asideNav::before {
  content: '';
  position: absolute;
  top: 50%;
  /* Centro del contenedor */
  left: 50%;
  width: 1.5px;
  /* Ajusta el ancho de la línea */
  height: 28%;
  /* Ajusta la altura de la línea (50% de la altura del contenedor) */
  background-color: #eaeaea;
  /* Ajusta el color de la línea */
  transform: translate(-50%, -50%);
}


@media only screen and (max-width: 768px) {
  /* aside.asideNav {
    flex-direction: row;
    bottom: 0;
    top: auto;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  aside.asideNav::before {
    display: none;
  } */

  aside.asideNav {
    display: none;
  }
}
