footer.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaeaea;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 1rem 2rem;
  /* background-color: #121212;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 0.875rem; */

  div.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a {
      color: var(--details);
      text-decoration: none;

      .icon {
        width: 2rem;
        height: 2rem;
        transition:
          /* transform */
          color 0.2s ease-in-out;
      }

      &:hover {
        /* transform: scale(1.1); */
        color: #18181B;
      }
    }
  }
}

/* footer.footer a {
  color: #ffffff;
  text-decoration: none;
}

footer.footer a:hover {
  text-decoration: underline;
}
 */

/* responsive design */

@media only screen and (max-width: 768px) {
  footer.footer {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    /* p {
      font-size: 0.875rem;
    } */

    hr.divider {
      width: 100%;
      border: none;
      border-top: 1px solid #eaeaea;
      margin: 0.5rem 0;
    }

    div.footerLinks {
      /* border-top: 1px solid #eaeaea;
      padding-top: 0.5rem; */
      gap: 0.5rem;
    }
  }
}
