footer.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaeaea;
  background-color: light-dark(rgba(250, 250, 250, 0.8), rgba(0, 0, 0, 0.8));
  padding: 1rem 2rem;
  /* background-color: #121212;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 0.875rem; */

  hr.divider {
    /* flex-grow: 1;
    border: none;
    border-top: 1px solid #eaeaea;
    margin: 0 1rem; */
    display: none;
  }

  div.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a {
      color: light-dark(var(--details), #ffffff);
      text-decoration: none;

      .icon {
        width: 2rem;
        height: 2rem;
        transition:
          /* transform */
          color 0.2s ease-in-out;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          /* transform: scale(1.1); */
          color: light-dark(#18181B, var(--text-aux-color));
        }
      }
    }
  }
}

/* footer.footer a {
  color: #ffffff;
  text-decoration: none;
}

footer.footer a:hover {
  text-decoration: underline;
}
 */

/* responsive design */

@media only screen and (max-width: 768px) {
  footer.footer {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    /* p {
      font-size: 0.875rem;
    } */

    hr.divider {
      display: block;
      width: 100%;
      border: none;
      border-top: 1px solid #eaeaea;
      margin: 0.5rem 0;
    }

    div.footerLinks {
      /* border-top: 1px solid #eaeaea;
      padding-top: 0.5rem; */
      gap: 0.5rem;
    }
  }
}
