section.hobbiesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1.5rem 2rem;

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.sectionTitle {
      font-size: 2.8rem;
      text-align: center;
    }

    span.sectionSubtitle {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  ul.hobbiesList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;

    li.hobbyItem {
      list-style: none;
      padding: 1rem;
      border-radius: 0.5rem;
      transition: background-color 0.3s, color 0.3s;
      border: 1px solid #eaeaea;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      &:hover {
        /* background-color: var(--accent-color);
        color: #fff; */

        h3.hobbyName {
          color: var(--accent-color);
        }
      }

      h3.hobbyName {
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }

      p.hobbyDescription {
        font-size: 1rem;
        text-align: center;
        max-width: 20rem;
      }
    }
  }
}
