section.home {
  /* display: grid;
  grid-template-columns: 1fr auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* height: 92vh; */
  padding: 0rem 7rem;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem; */
  /* padding-top: 5rem;
  padding-left: 7rem; */
  /* position: relative;
  z-index: 1; */

  /* background: radial-gradient(100% 50% at 20% 70%, rgba(0, 123, 255, 0.25) 0%, rgba(30, 25, 173, 0) 50%, rgba(131, 126, 127, 0) 100%),

    radial-gradient(100% 50% at 70% 70%, rgba(173, 109, 244, 0.5) 0%, rgba(173, 109, 244, 0) 50%, rgba(173, 109, 244, 0) 100%),

    radial-gradient(100% 50% at 30% 50%, rgba(219, 25, 64, 0.25) 0%, rgba(173, 109, 244, 0) 50%, rgba(173, 109, 244, 0) 100%),

    radial-gradient(100% 50% at 80% 50%, rgba(0, 123, 255, 0.25) 0%, rgba(255, 0, 0, 0) 50%, rgba(131, 126, 127, 0) 100%); */

  div.firstDivision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 1rem;

    header {
      color: #18181b;

      h1.h1 {
        font-size: 2.8rem;
      }

      /* h2 {
          font-size: 2.2rem;
          font-weight: 500;
        }

        h3 {
          font-size: 1.8rem;
          font-weight: 500;
          color: var(--details);
        } */
    }

    div.body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1.5rem;

      p {
        color: #18181b;
        font-size: 1.8rem;
        text-wrap: balance;
        max-inline-size: 40ch;

        span.italic {
          font-style: italic;
        }

        span.bold {
          font-weight: bold;
        }

        a.link {
          color: var(--accent-color);
          font-weight: bold;
          border-bottom: 2.5px solid var(--accent-color);
          text-decoration: none;
        }
      }

      /* @media only screen and (min-width: 768px) {
            p {
              width: 80%;
            }
        } */

      div.buttonsCtaContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        a.btn,
        a.btnAux {
          color: #fff;
          font-weight: bold;
          font-size: 1.5rem;
          background-color: #18181b;
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          text-decoration: none;
        }

        a.btnAux {
          background-color: transparent;
          border: 1.5px solid #18181b;
          color: #18181b;
          font-weight: 550;
        }

        a:is(.btn, .btnAux):hover {
          scale: 1.05;
          transition: scale 0.3s ease-in-out;
        }
      }
    }

    footer.footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;

      div.buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        span.button,
        .icon {
          background-color: rgba(250, 250, 250, 0.8);
          border-radius: 50rem;
          font-size: 1.8rem;
          padding: 1rem;
          color: #24292e;
          border: 1px solid #eaeaea;
          border-radius: 50%;

          /* &:hover {
                    transform: scale(1.1);
                  } */
        }

        .copy {
          color: rgb(225, 225, 225);
          font-size: 1rem;

          &:hover {
            color: var(--details);
          }
        }

        .copied {
          color: #24292e;
          font-size: 1rem;
        }

        span.button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          font-size: 1rem;
          text-decoration: none;
          font-weight: 500;
          border-radius: 1.5rem;
          padding: 0.5rem 0.8rem;

          a {
            color: #24292e;
            text-decoration: none;
          }
        }

        .icon {
          aspect-ratio: 1/1;
        }
      }

      div.workStatusContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        div.workTypeContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
        }

        /* TODO bordes animados */
        span.workStatus,
        span.workType {
          color: #25ac59
            /* var(--accent-color) */
          ;
          border: 1px solid #25ac59
            /* var(--accent-color) */
          ;
          background-color: rgba(19, 208, 91, 0.1)
            /* rgba(0, 123, 255, 0.1) */
          ;
          padding: 0.5rem 1rem;
          border-radius: 5rem;
          font-weight: 500;
          /* filter: drop-shadow(0 0 2em #25ac59); */
        }

        span.workType,
        span.first {
          color: #f0ad4e;
          border: 1px solid #f0ad4e;
          background-color: rgba(240, 173, 78, 0.1);
          /* filter: drop-shadow(0 0 2em #f0ad4e); */
        }

        span.second {
          color: #b74fd9;
          border: 1px solid #b74fd9;
          background-color: rgba(183, 79, 217, 0.1);
          /* filter: drop-shadow(0 0 2em #d9534f); */
        }

        span.third {
          color: var(--accent-color);
          border: 1px solid var(--accent-color);
          background-color: rgba(0, 123, 255, 0.1);
          /* filter: drop-shadow(0 0 2em #5bc0de); */
        }
      }

      /* background: linear-gradient(to top, rgb(195, 73, 73) 0%, rgba(0, 0, 0, 0) 50%);
                  pointer-events: none; */
      /* Permite interactuar con elementos debajo del mask */
    }
  }

  div.secondDivision,
  div.imagesAndStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
    position: relative;

    div.stats {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 100%;
      /* position: absolute;
      bottom: 25%;
      left: 27%;
      transform: translateX(0%); */

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span:first-of-type {
          color: #18181b;
          font-size: 1.1rem;
          font-weight: bold;
        }

        span:last-of-type {
          font-weight: 500;
        }

        /* span {
          color: #18181b;
          font-size: 1.5rem;
          font-weight: 500;
        }

        p {
          color: #18181b;
          font-size: 1.2rem;
          font-weight: 500;
        } */
      }
    }

    img.reactLogo {
      position: absolute;
      top: 25%;
      left: -35%;
      width: 8rem;
      transform: rotate(40deg);
      -webkit-transform: rotate(40deg);
      -moz-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      -o-transform: rotate(40deg);
      filter: drop-shadow(0 0 2em hsla(193, 95%, 68%, 0.9));
    }

    img.cssLogo {
      position: absolute;
      top: 15%;
      right: 60%;
      width: 6rem;
      transform: rotate(-15deg);
      filter: drop-shadow(0 0 2em hsla(266, 47%, 40%, 0.9));
    }

    img.jsLogo {
      position: absolute;
      top: 15%;
      right: 10%;
      width: 6rem;
      transform: rotate(10deg);
      filter: drop-shadow(0 0 2em hsla(52, 84%, 63%, 0.9));
    }

    img.me {
      width: 15rem;
      border-radius: 50rem;
      aspect-ratio: 1/1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      object-fit: cover;
      object-position: bottom;
    }
  }

  div.imagesAndStats {
    display: none;
  }

  div.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 0%;
    right: 50%;
    transform: translateX(50%);

    span {
      color: var(--details);
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.35rem);
  }

  100% {
    transform: translateY(0);
  }
}

.arrowIcon {
  font-size: 1.3rem;
  color: var(--details);
}

@media (prefers-reduced-motion: no-preference) {
  .arrowIcon {
    animation: upAndDown 2s infinite linear;
  }
}

@media only screen and (max-width: 768px) {
  section.home {
    /* display: grid;
    padding: 0rem 3rem;
    grid-template-columns: 1fr; */
    /* flex-direction: column-reverse; */
    padding: 1.5rem;

    div.firstDivision {
      align-items: center;
      text-align: center;

      header {
        h1.h1 {
          font-size: 2.2rem;
          text-align: center;
        }

        h2.h2 {
          font-size: 1.8rem;
          text-align: center;
          font-weight: 600;
        }

        h3.h3 {
          font-size: 1.4rem;
          text-align: center;
          font-weight: 500;
        }
      }

      div.body {
        p {
          font-size: 1.4rem;
          max-inline-size: 32ch;
        }

        div.buttonsCtaContainer {
          /* flex-direction: column; */
          /* width: 100%; */
          gap: 0.5rem;
          width: 100%;

          a.btn,
          a.btnAux {
            font-size: 1.2rem;
            padding: 0.4rem 0.8rem;
          }
        }
      }

      footer.footer {
        gap: 0.5rem;
        align-items: center;

        div.buttons {
          /* flex-direction: column; */
          align-items: center;
          flex-wrap: wrap;

          span.button,
          .icon {
            font-size: 1rem;
            padding: 0.8rem;
          }

          span.button {
            font-size: 0.9rem;
            padding: 0.4rem 0.6rem;
          }
        }

        div.workStatusContainer {
          gap: 0.5rem;
          /* flex-direction: column !important; */
          flex-wrap: wrap;

          span.workStatus,
          span.workType {
            font-size: 0.6rem;

            padding: 0.4rem 0.8rem;
          }
        }
      }
    }

    div.secondDivision {
      display: none;
    }

    div.imagesAndStats {
      /* margin-bottom: 3rem; */
      display: flex;
      /* flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem; */

      div.stats {
        gap: 1rem;

        div {
          span:first-of-type {
            font-size: 1rem;
          }

          span:last-of-type {
            font-size: 1.2rem;
          }

          .icon {
            font-size: 1.1rem;
          }
        }
      }

      img.reactLogo,
      img.cssLogo,
      img.jsLogo {
        display: none;
      }

      img.me {
        max-width: 12rem;
      }
    }

    div.more {
      span {
        font-size: 1rem;
      }
    }
  }
}
