section.honorsAndAwards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1.5rem 2rem;

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.honorsAndAwardsHeading {
      font-size: 2.8rem;
      text-align: center
    }

    span {
      font-size: 1.5rem;
      text-align: center
    }
  }

  ul.honorsAndAwardsList {
    gap: 1.5rem;
    /* grid-template-columns: repeat(2, 1fr); */
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 20rem;
      /* gap: 0.5rem; */

      /* div.awardCard { */
      border: 1px solid #eaeaea;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: light-dark(#F5F5F5, #444444);
      position: relative;

      a.link {
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;

        .icon {
          font-size: 1.5rem;
          color: #0a66c2;
        }
      }

      img.image {
        width: 12rem;
        height: 12rem;
        aspect-ratio: 1/1 !important;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem;
        margin-bottom: 0.75rem;
        /* background-color: rgba(250, 250, 250, 0.8); */
      }

      h3.awardTitle {
        font-size: 1.2rem;
        /* margin-bottom: 0.5rem; */
        text-align: center;
      }

      p.awardDescription {
        font-size: 1rem;
        /* margin-bottom: 0.25rem; */
        text-align: center;
      }

      span.awardDate,
      span.awardLocation

      /* ,
      span.awardIssuer */
        {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        /* width: 100% !important;
        background-color: red;
        text-align: left; */
        font-size: 0.9rem;
        color: var(--text-aux-color);
      }

      /* } */
    }
  }
}

@media only screen and (max-width: 768px) {
  section.honorsAndAwards {
    padding: 0 1.5rem 1.5rem 1.5rem;

    header.header {
      h2.honorsAndAwardsHeading {
        font-size: 2rem;
      }

      span {
        font-size: 1.25rem;
      }
    }

    ul.honorsAndAwardsList {
      width: 100%;
      gap: 1rem;

      li.honorsAndAwardsItem {
        /* max-width: 100%; */
        padding: 0.75rem;
        max-width: 10rem;

        a.link {
          top: 0.5rem;
          right: 0.5rem;

          .icon {
            font-size: 1.3rem;
          }
        }

        span.awardDate,
        span.awardLocation {
          font-size: 0.8rem;
          gap: 0.25rem;
        }

        img.image {
          width: 4rem;
          height: 4rem;
        }

        h3.awardTitle {
          font-size: 1rem;
        }

        p.awardDescription {
          font-size: 0.9rem;
        }
      }
    }
  }
}
