section.honorsAndAwards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1.5rem 2rem;

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.honorsAndAwardsHeading {
      font-size: 2.8rem;
      text-align: center
    }

    span {
      font-size: 1.5rem;
      text-align: center
    }
  }

  ul.honorsAndAwardsList {
    gap: 1.5rem;
    /* grid-template-columns: repeat(2, 1fr); */
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;

    li.honorsAndAwardsItem {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 20rem;
      /* gap: 0.5rem; */

      /* div.awardCard { */
      border: 1px solid #eaeaea;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: light-dark(#F5F5F5, #444444);
      /* position: relative; */

      header.cardHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* gap: 0.5rem; */
        /* background-color: red; */
        width: 100%;
        padding: 0 0 0.5rem 0;

        h4.awardTitle {
          /* font-size: 1.2rem;
          margin: 0;
          text-align: left; */
          color: var(--text-aux-color);
        }

        a.link {
          text-decoration: none;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 100%;
          /* position: absolute;
          top: 1rem;
          right: 1rem;
          z-index: 1; */

          .icon {
            font-size: 1.5rem;
            color: #0a66c2;
          }
        }
      }

      div.imagesContainer {
        position: relative;
        display: flex;
        /* flex-direction: row !important;
                justify-content: center;
                align-items: center;
                text-align: center; */
        overflow: scroll;
        /* scrollbar-gutter: stable; */
        scroll-snap-type: x mandatory;
        /* background-color: red; */
        gap: 0.5rem;
        /* padding: 2rem 0 0 0; */

        img.image {
          width: 12rem;
          height: 12rem;
          aspect-ratio: 1/1 !important;
          object-fit: cover;
          object-position: center;
          border-radius: 1rem;
          margin-bottom: 0.75rem;
          /* background-color: rgba(250, 250, 250, 0.8); */
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

          width: 100%;
          aspect-ratio: 1/1 !important;
          left: 0;
          position: sticky;
          object-fit: cover;
          object-position: center;
          border-radius: 1rem;
          margin-bottom: 0.75rem;
          scroll-snap-align: start;
        }
      }


      h3.awardTitle {
        font-size: 1.2rem;
        /* margin-bottom: 0.5rem; */
        text-align: center;
      }

      p.awardDescription {
        font-size: 1rem;
        /* margin-bottom: 0.25rem; */
        text-align: center;
      }

      span.awardDate,
      span.awardLocation

      /* ,
      span.awardIssuer */
        {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        /* width: 100% !important;
        background-color: red;
        text-align: left; */
        font-size: 0.9rem;
        color: var(--text-aux-color);
      }

      /* } */
    }
  }
}

@media only screen and (max-width: 768px) {
  section.honorsAndAwards {
    padding: 0 1.5rem 1.5rem 1.5rem;

    header.header {
      h2.honorsAndAwardsHeading {
        font-size: 2rem;
      }

      span {
        font-size: 1.25rem;
      }
    }

    ul.honorsAndAwardsList {
      width: 100%;
      gap: 1rem;

      li.honorsAndAwardsItem {
        /* max-width: 100%; */
        padding: 0.75rem;
        max-width: 10rem;

        a.link {
          top: 0.5rem;
          right: 0.5rem;

          .icon {
            font-size: 1.3rem;
          }
        }

        span.awardDate,
        span.awardLocation {
          font-size: 0.8rem;
          gap: 0.25rem;
        }

        div.imagesContainer {
          img.image {
            width: 6rem;
            height: 6rem;
            width: 100%;
          }
        }

        h3.awardTitle {
          font-size: 1rem;
        }

        p.awardDescription {
          font-size: 0.9rem;
        }
      }
    }
  }
}
