section.LicensesAndCertifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1.5rem 2rem;

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.heading {
      font-size: 2.8rem;
      text-align: center;
    }

    span {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  ul.certificationsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 3rem;

    li.certificationItem {
      list-style: none;
      background-color: #F5F5F5;
      border: 1px solid #eaeaea;
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      /* gap: 1rem; */

      img.certificationLogo {
        width: 4rem;
        height: 4rem;
        aspect-ratio: 1/1 !important;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        margin-bottom: 0.75rem;
      }

      h3.certificationTitle {
        font-size: 1.5rem;
        font-weight: 600;
      }

      span.issuingOrganization,
      span.issueDate {
        font-size: 1.2rem;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: var(--text-aux-color);
      }

      a.certificationLink {
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
        color: var(--accent-color);
        text-decoration: none;
        border: 2px solid var(--accent-color);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        /* background-color: transparent; */

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section.LicensesAndCertifications {
    padding: 0 1.5rem 1.5rem 1.5rem;

    header.header {
      h2.honorsAndAwardsHeading {
        font-size: 2rem;
      }

      span {
        font-size: 1.25rem;
      }
    }

    ul.certificationsList {
      width: 100%;
      display: flex;
      gap: 1rem;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      /* grid-template-columns: repeat(2, 1fr); */

      li.certificationItem {
        /* max-width: 100%; */
        padding: 0.75rem;
        max-width: 10rem;

        img.certificationLogo {
          width: 3rem;
          height: 3rem;
          margin-bottom: 0.5rem;
        }

        h3.certificationTitle {
          font-size: 1.25rem;
        }

        span.issuingOrganization,
        span.issueDate {
          font-size: 1rem;
          gap: 0.25rem;
        }

        a.certificationLink {
          font-size: 0.9rem;
          padding: 0.4rem 0.8rem;
        }
      }
    }
  }
}
