nav.navbar {
  height: 8vh;
  position: sticky;
  top: 0;
  z-index: 10;

  /* display: flex;
  flex-direction: row;
  justify-content: */
  /* center */
  /* space-between;
  align-items: center;
  gap: 1rem; */

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 0.5rem 1rem;

  width: 100%;
  /* max-width: 24rem; */

  /* background-color: light-dark(#FFFFFF, #1E1E1E); */
  border-bottom: 1px solid light-dark(#eaeaea, #18181B)
    /* solid var(--details) */
  ;
  /* border: 1px solid #eaeaea; */
  /* border-radius: 0.5rem; */

  a.navbarLink {
    font-size: 0.9rem;
    color: var(--accent-color);
    text-decoration: none;
    /* border-bottom: 1px solid var(--accent-color); */
    font-weight: bold;

    grid-column: 1
      /*  / 2 */
    ;
    justify-self: start;
    text-align: left;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration: underline;
        /* border-bottom: 1px solid var(--accent-color);
        */
      }
    }
  }

  h2.navbarTitle {
    /* font-size: 1.2rem;
    font-weight: bold; */
    grid-column: 2
      /*  / 3 */
    ;
    justify-self: center;
  }

  background-color: light-dark(rgba(250, 250, 250, 0.8), rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(8px);

  button.settingsButton {
    background: none;
    border: none;
    /* color: var(--text-aux-color); */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */

    grid-column: 3
      /*  / 4 */
    ;
    justify-self: end;
    /* gap: 0.5rem; */
    font-size: inherit;

    .settingsIcon {
      cursor: pointer;
      padding: 0rem 0rem 0rem 1rem;
      font-size: 1.2rem;
      color: var(--text-aux-color);

      &:hover {
        color: var(--text-color);
      }
    }
  }
}

div.linkInBio {
  display: grid;
  place-items: center;
  overflow-y: auto;
  /* width: 100dvw;
  height: 100dvh; */
  padding: 1rem 1rem 0 1rem;
  gap: 1rem;

  figure.profileFigure {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    border: 2px solid #D9D9D9;
    padding: 0.25rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    img.profileImage {
      max-width: 8rem;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
    }

    div.onlineStatus {
      position: absolute;
      bottom: 1.5rem;
      right: calc(50% - 4rem);
      width: 1.5rem;
      height: 1.5rem;
      background-color:
        /* #22C55E */
        #4ade80;
      /* Green color */
      border: 2px solid white;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.7);
      animation: pulse 2s infinite;
    }
  }

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    width: 100%;

    span.username {
      font-size: 1.5rem;
      font-weight: bold;
      color: light-dark(var(--details), var(--text-aux-color));
    }

    h1.heading {
      /* font-size: 2.5rem; */
      text-align: center;
    }

    div.description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: light-dark(var(--details), var(--text-aux-color));
      font-size: 1rem;
      gap: 0.5rem;
      /* max-width: 20rem;
      margin-top: 0.25rem; */

      span.location {
        /* font-weight: bold; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
      }
    }

    p.subheading {
      /* font-size: 1.2rem; */
      color: gray;
      text-align: center;

      a.link {
        color: var(--accent-color);
        font-weight: bold;
        border-bottom: 1px solid var(--accent-color);
        text-decoration: none;
      }

      @media (prefers-color-scheme: light) {
        a.link:last-of-type img {
          content: url("../assets/neza-logo-dark.svg");
        }
      }

      @media (prefers-color-scheme: dark) {
        a.link:last-of-type img {
          content: url("../assets/neza-logo.svg");
        }
      }

      /* a.link:last-of-type {
        img {
          content: url("../assets/neza-logo-dark.svg");
        }
      } */
    }

    div.socialLinks {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      margin-top: 0.5rem;
      flex-wrap: wrap;
      width: 100%;
      max-width: 20rem;

      a.headerLink {
        text-decoration: none;
        cursor: pointer;

        .icon {
          font-size: 1.5rem;
          color: light-dark(var(--details), var(--text-aux-color));
          transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover .icon {
            transform: scale(1.1);
          }

          &:first-of-type:hover .icon {
            /* color: light-dark(rgb(222, 201, 160), rgb(180, 160, 120)); */
            color: light-dark(rgb(169, 134, 63), rgb(217, 180, 100));
          }

          &:nth-of-type(2):hover .icon {
            color: light-dark(var(--text-aux-color), var(--details));
          }

          &:nth-of-type(3):hover .icon {
            color: light-dark(var(--text-aux-color), var(--details));
          }

          &:nth-of-type(4):hover .icon {
            color: light-dark(#0e76a8, #0e76a8);
          }

          &:nth-of-type(5):hover .icon {
            color: light-dark(#24292e, #c9d1d9);
          }

          &:nth-of-type(6):hover .icon {
            color: light-dark(var(--text-aux-color), var(--details));
          }

          /* Google Maps Location Dot */
          &:nth-of-type(7):hover .icon {
            color: light-dark(#FF0000, #d93025);
          }

          /* PayPal */
          &:nth-of-type(8):hover .icon {
            color: light-dark(#003087, #009cde);
          }

          /* Resume */
          &:nth-of-type(9):hover .icon {
            color: light-dark(var(--text-aux-color), var(--details));
          }

          /* Calendly */
          &:nth-of-type(10):hover .icon {
            color: light-dark(#4d90fe, #4d90fe);
          }
        }
      }
    }

    /* iframe.appleMusicIframe {
      margin-top: 1rem;
      width: 100%;
      max-width: 24rem !important;
      height: 150px;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    } */

    div.disclaimer {
      background-color: #F5F5F5;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;

      p.disclaimerText {
        font-size: 0.9rem;
        color: gray;
        text-align: center;
      }
    }

    /* .saveContactBtn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      width: 100%;
      max-width: 20rem;
      padding: 0.75rem 1rem;
      background-color: rgb(222, 201, 160); */
    /* border: 1px solid light-dark(var(--details), var(--text-aux-color)); */
    /* color: white */
    /* light-dark(var(--details), var(--text-aux-color)) */
    /* ;
      text-align: center;
      text-decoration: none;
      border-radius: 0.5rem;
      font-weight: bold;
      transition: background-color 0.2s ease-in-out; */

    /* img */
    /* .icon { */
    /* filter: invert(1); */
    /* width: 1.2em;
        height: 1.2em;
        object-fit: contain;
      }
    } */

    /* @media (hover: hover) and (pointer: fine) {
      .saveContactBtn:hover {
        background: rgb(180, 160, 120);
      }
    } */
  }

  div.switchTab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    /* background-color: red; */

    button.tabButton {
      width: 100%;
      max-width: 10rem;
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      color: light-dark(var(--details), var(--text-aux-color));
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s ease-in-out, color 0.2s ease-in-out;
      /* border-bottom: 2px solid light-dark(var(--details), var(--text-aux-color)); */

      &.activeTab {
        border-bottom: 2px solid var(--text-color);
        color: var(--text-color);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--text-color);
        }
      }
    }
  }

  div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    a.linkButton,
    a.linkButtonProjects {
      width: 100%;
      max-width: 20rem;
      padding: 0.75rem 1rem;
      background-color: var(--accent-color);
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 0.5rem;
      font-weight: bold;
      transition: background-color 0.2s ease-in-out;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      /* @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--accent-hover-color);
        }
      } */

      img.icon {
        width: 1em;
        /* vertical-align: middle;
        margin-right: 0.3em;
        object-fit: contain; */
      }

      /* TikTok */
      &.linkButton:first-of-type {
        background-color: #000000;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #333333;
          }
        }
      }

      /* Instagram */
      &.linkButton:nth-of-type(2) {
        background-color: #E1306C;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #C13584;
          }
        }
      }

      /* WhatsApp */
      &.linkButton:nth-of-type(3) {
        background-color: #25D366;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #1DA851;
          }
        }
      }

      /* Facebook */
      &.linkButton:nth-of-type(4) {
        background-color: #0866FF;
        font-size: 0.85rem;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #145DBF;
          }
        }
      }

      /* Twitter */
      &.linkButton:nth-of-type(5) {
        background-color:
          /* #1DA1F2 */
          #1A91FF;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #0d95e8;
          }
        }
      }

      /* YouTube */
      &.linkButton:nth-of-type(6) {
        background-color: #FF0000;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #cc0000;
          }
        }
      }

      /* Medium */
      &.linkButton:nth-of-type(7) {
        background-color: #12100E;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #333333;
          }
        }
      }

      /* Projects Links Buttons */

      /* Neza Startup */
      &.linkButtonProjects:first-of-type {
        background-color: #000000;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #333333;
          }
        }
      }

      /* Corn Crunch */
      &.linkButtonProjects:nth-of-type(2) {
        background-color: #FF9300;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #FEC526;
          }
        }
      }

      /* myCover App */
      &.linkButtonProjects:nth-of-type(3) {
        background-color: #764CFD;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: #522EC7;
          }
        }
      }
    }
  }

  footer.footer {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    /* bottom: 0;
    position: fixed; */

    border-top: 1px solid #eaeaea;
    background-color: light-dark(rgba(250, 250, 250, 0.8), rgba(0, 0, 0, 0.8));

    span.footerText {
      font-size: 0.8rem;
      color: gray;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  div.linkInBio {
    header.header {
      div.socialLinks {
        flex-wrap: nowrap;
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(74, 222, 128, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(74, 222, 128, 0);
  }
}
