div.linkInBio {
  display: grid;
  place-items: center;
  overflow-y: auto;
  padding: 1rem;
  gap: 1rem;

  figure.profileFigure {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* border: 2px solid #D9D9D9; */
    /* padding: 0.5rem; */
    border-radius: 50%;
    position: relative;

    img.profileImage {
      max-width: 8rem;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
    }

    div.onlineStatus {
      position: absolute;
      bottom: 1.5rem;
      right: calc(50% - 4rem);
      width: 1.5rem;
      height: 1.5rem;
      background-color:
        /* #22C55E */
        #4ade80;
      /* Green color */
      border: 2px solid white;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.7);
      animation: pulse 2s infinite;
    }
  }


  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    width: 100%;

    h1 {
      /* font-size: 2.5rem; */
      text-align: center;
    }

    p {
      /* font-size: 1.2rem; */
      color: gray;
      text-align: center;

      a.link {
        color: var(--accent-color);
        font-weight: bold;
        border-bottom: 1px solid var(--accent-color);
        text-decoration: none;
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(74, 222, 128, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(74, 222, 128, 0);
  }
}
