dialog:modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: .5rem;
  padding: 1rem;
  width: max-content;
  padding: 2rem;
}

dialog::backdrop {
  backdrop-filter: blur(1px);
  background-color: hsla(0, 0%, 0%, 0.5);
}

/* .modal-content {
  padding: 2rem;
} */

button {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background: black;
  color: white;
  font-weight: bold;
}

/* @keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
} */
