ul.navbar {
    position: sticky;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding-right: 1rem;
    border-bottom: thin solid var(--details-color);
}

/* li:first-of-type {
    margin-right: auto;
    place-self: flex-start;
} */

li.navbarItem {
    background-color: var(--alter-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

li.navbarItem:is(:hover, :focus) {
    background-color: var(--main-color);
}

a.navbarLink, a.active {
    color: var(--aux-color);
    text-decoration: none;
    font-size: 2rem;
}

a.active {
    color: var(--text-color);
}

li.navbarItem:has(a.active) {
    background-color: var(--main-color);
}
