nav.navbar,
nav.navbarScrolled {
  height: 8vh;
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eaeaea
    /* solid var(--details) */
  ;
  /* background-color: rgba(250, 250, 250, 0.8); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

nav.navbarScrolled {
  background-color: light-dark(rgba(250, 250, 250, 0.8), rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(8px);
  transition: all 0.3s ease-in-out;
}

/* a.navbarLink:has(img.navbarLogo) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img.navbarLogo {
  height: 3rem;
} */

span.navbarLogo {
  font-weight: bold;
  color: var(--text-color);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  list-style: none;
  gap: 1rem;
}

/* nav {
  height: 10vh;
  position: sticky;
  top: 0;
} */

/* @media (hover: hover) and (pointer: fine) { */
li.navbarItem:is(:hover, :focus)>a

/* :not(.activeLink) */
  {
  color: var(--text-color);
  /* border-bottom: 1px solid #18181B; */
}

/* } */

a.navbarLink,
a.activeLink {
  color: var(--text-aux-color);
  text-decoration: none;
}

a.activeLink:not(ul li.navbarItem:last-child a) {
  color: var(--text-color);
  font-weight: 600;
  border-bottom: 2.5px solid #18181B;
}

/* li.navbarItem:last-child {
  color: red;
} */

/* selecciona el ultimo elemento de la lista */
ul li.navbarItem:last-child a {
  color: light-dark(#fff, #000);
  font-weight: bold;
  background-color: light-dark(#18181B, #f0f0f0);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {

  nav.navbar,
  nav.navbarScrolled {
    padding: 2rem 1rem;
    /* a.navbarLink {
      display: none; */

    /* font-size: 0.8rem;
      color: red; */
    /* } */

    a.navbarLink {

      span {
        display: none;
        font-size: 0.8rem;
      }
    }

    ul {
      gap: 0.8rem;
      width: 100%;
      /* height: 100%; */
      /* background-color: red; */
    }

    /* a.navbarLink:nth-child(1) {
      display: none;
    } */
  }

  /* nav.navbar,
  nav.navbarScrolled {
    padding: 1rem;
  }

  ul {
    gap: 0.5rem;
  }

  a.navbarLink,
  a.activeLink {
    font-size: 0.9rem;
  }

  a.activeLink:not(ul li.navbarItem:last-child a) {
    font-size: 0.9rem;
  }

  ul li.navbarItem:last-child a {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  } */
}
