section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* margin-bottom: 10rem; */

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.h2 {
      color: #18181b;
      font-size: 2.8rem;
      text-align: center;
    }

    span {
      color: #18181b;
      font-size: 1.5rem;
    }
  }

  div.projectSwitcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #BFBFBF;
    border-radius: 2.5rem;
    padding: 0.6rem 1.5rem;
    width: fit-content;
    gap: 2.5rem;

    /* button.projectsBtn:first-of-type {
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
    }

    button.projectsBtn:last-of-type {
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
    } */

    button.projectsBtn {
      display: inline-block;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.25rem;
      transition: all 0.2s ease-in-out;
    }

    button.inactiveButton {
      color: #999;
    }

    button.activeButton {
      color: #18181b;
      font-weight: 500;
      /* background-color: #F5F5F5; */
      height: 100%;
      /* padding: 0rem 1.5rem; */
    }

    /* button.projectsBtn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      border: 1px solid #18181b;
      border-radius: 0.5rem;
      background-color: #18181b;
      color: #f0f0f0;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #f0f0f0;
        color: #18181b;
      }
    } */

    /* span.separator {
      color: #BFBFBF;
      font-size: 1.8rem;
      font-weight: lighter;
    } */

    .separator {
      height: 2.3rem;
      width: 1.5px;
      background-color: #ddd;
    }
  }

  div.projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; */
  }
}
