section.publications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1.5rem 2rem;

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.heading {
      font-size: 2.8rem;
      text-align: center;
    }

    span {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  ul.publicationsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

    /* li.publicationItem {
      list-style: none;
      width: 100%;
      padding: 1rem;
      border-radius: 8px;
      transition: background-color 0.3s, color 0.3s;
      border: 1px solid #eaeaea;
      background-color: #F5F5F5;
      &:hover {
        background-color: var(--accent-color);
        color: #fff;
      }
    } */

    li.publicationItem {
      list-style: none;
      /* width: 100%; */
      padding: 1rem;
      border-radius: 8px;
      transition: background-color 0.3s, color 0.3s;
      border: 1px solid #eaeaea;
      /* background-color: #F5F5F5; */

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      /* gap: 1rem; */
      max-width: 24rem;

      h3.publicationTitle {
        font-size: 1.5rem;
        /* margin-bottom: 0.5rem; */
      }

      span.publicationPublisher,
      span.publicationAuthor {
        font-size: 1.2rem;
        font-weight: 500;
        /* margin-bottom: 0.5rem; */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        img.image {
          width: 1rem;
          height: 1rem;
          aspect-ratio: 1/1 !important;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          /* margin-left: 0.5rem; */
          background-color: black;
        }
      }

      span.publicationDate {
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-aux-color);
        /* margin-bottom: 1rem; */

        /* display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem; */
      }

      a.publicationLink {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--accent-color);
        /* border: 2px solid var(--accent-color);
        padding: 0.5rem 1rem;
        border-radius: 5rem; */
        margin-top: 0.5rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  section.publications {
    padding: 0 1.5rem 1.5rem 1.5rem;

    header.header {
      h2.honorsAndAwardsHeading {
        font-size: 2rem;
      }

      span {
        font-size: 1.25rem;
      }
    }

    ul.publicationsList {
      width: 100%;
      gap: 1rem;

      li.publicationItem {
        /* max-width: 100%; */
        padding: 0.75rem;
        max-width: 10rem;

        h3.publicationTitle {
          font-size: 1.3rem;
        }

        span.publicationPublisher,
        span.publicationAuthor {
          font-size: 1rem;
          gap: 0.25rem;
        }

        span.publicationDate,
        a.publicationLink {
          font-size: 0.9rem;
        }
      }
    }
  }
}
