div.scrollProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  background-color: var(--accent-color);
  z-index: 9999;
  transition: width 0.01s ease-in-out;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: transparent;
  z-index: 9999;

  div.progress {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.25s ease-out;
  } */
}

@media only screen and (max-width: 768px) {
  div.scrollProgressBar {
    height: 5px;
  }
}
