input.searchInput {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.875rem;

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    /* box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2); */
  }
}

/* datalist#search-suggestions {
  option {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }
} */
