div.servicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 1rem; */
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 768px) {
  div.servicesContainer {
    padding: 0.5rem;

    header.header {
      gap: 0.5rem;

      /* h3.topSkillsHeading {
        font-size: 1.2rem;
      } */
    }

    ul.serviceList {
      gap: 1.5rem 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
