div.servicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 1rem; */
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  margin-top: 1.5rem;

  header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* gap: 1rem;
    margin-bottom: 1rem; */

    a.link {
      text-decoration: none;
      color: inherit;

      .icon {
        font-size: 1.38rem;
        color: #0a66c2;
        /* transition: color 0.3s ease-in-out; */

        /* &:hover {
          color: #0073b1;
        } */
      }
    }
  }

  ul.serviceList {
    /* margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; */

    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li.serviceItem:not(:last-child)::after {
      content: "•";
      margin-left: 0.5rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  div.servicesContainer {
    padding: 0.5rem;

    header.header {
      gap: 0.5rem;

      /* h3.topSkillsHeading {
        font-size: 1.2rem;
      } */
    }

    ul.serviceList {
      /* gap: 1.5rem 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center; */

      gap: 0.3rem;
      justify-content: flex-start;

      li.serviceItem:not(:last-child)::after {
        margin-left: 0.3rem;
      }
    }
  }
}
