h1 {
  /* font-weight: 700;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
  color: red; */

  /* default 32px=2rem */
  font-size:
    /* 1.5rem */
    /* 1.65rem */
    1.75rem;
  /* 1.8rem; */
}

ul.settingsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  height: auto;

  /* gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
 */
  li.settingItem {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    /* width: 100%; */

    label.settingLabel {
      font-size: 1.1rem;
      font-weight: 500;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* gap: 0.5rem; */
    }
  }

  /* li.settingItem:first-child {
    display: none;
  } */


  /* li.settingItem:first-child {
    display: flex;
  } */

  /* &:has(li.settingItem:nth-child(4)):not(:has(li.settingItem:nth-child(2))) {
    li.settingItem:first-child {
      display: flex;
    }
  } */

  /* li.searchItem {
    display: flex;
  } */
}

@media only screen and (max-width: 768px) {
  ul.settingsList {
    gap: 1rem;

    /* li.settingItem:nth-child(2) {
      margin-top: 1rem;
    } */

    li.settingItem {
      label.settingLabel {
        font-size: 1rem;
      }
    }

    li.searchItem {
      display: none !important;
    }

    /* li.settingItem:first-child {
      display: none;
    } */

    /* &:has(li.settingItem:nth-child(4)):not(:has(li.settingItem:nth-child(2))) {
      li.settingItem:first-child {
        display: none !important;
      }
    } */
  }
}
