ul.settingsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  height: auto;

  /* gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
 */
  li.settingItem {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    /* width: 100%; */

    label.settingLabel {
      font-size: 1.1rem;
      font-weight: 500;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* gap: 0.5rem; */
    }
  }
}

@media only screen and (max-width: 768px) {
  ul.settingsList {
    gap: 1rem;

    li.settingItem:first-child {
      display: none;
    }

    li.settingItem:nth-of-type(2) {
      margin-top: 1rem;
    }

    li.settingItem {
      label.settingLabel {
        font-size: 1rem;
      }
    }
  }
}
