section.socialProof {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1.5rem 2rem;

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.socialProofHeading {
      font-size: 2.8rem;
      text-align: center;
    }

    span {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  div.proofsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;

    div.socialProofCard {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /*  gap: 1rem; */
      padding: 1.5rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      width: 18rem;
      text-align: center;

      a.link {
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;

        .icon {
          font-size: 1.5rem;
          color: #0a66c2;
        }
      }

      img.profilePicture {
        width: 8rem;
        height: 8rem;
        aspect-ratio: 1/1;
        object-fit: contain;
        object-position: center;
        border-radius: 50%;
        background-color: rgba(250, 250, 250, 0.8);
      }

      p.proofComment {
        font-size: 1.2rem;
        /* max-width: 24ch; */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        -webkit-box-orient: vertical;
        /* white-space: nowrap;
        text-wrap: balance;
        overflow-wrap: break-word; */
        /* color: #555; */
      }

      h3.fullName {
        font-size: 1.8rem;
        font-weight: 700;
      }

      span.position {
        font-size: 1.2rem;
        font-weight: 500;
        /* color: #777; */

        max-width: 10ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* text-wrap: balance;
                          overflow-wrap: break-word; */
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section.socialProof {
    padding: 0 1.5rem 1.5rem 1.5rem;

    header.header {
      h2.socialProofHeading {
        font-size: 2rem;
      }

      span {
        font-size: 1.2rem;
      }
    }

    div.proofsContainer {
      gap: 1.5rem;

      div.socialProofCard {
        width: 100%;
        max-width: 16rem;

        img.profilePicture {
          width: 6rem;
          height: 6rem;
        }

        p.proofComment {
          font-size: 1rem;
          -webkit-line-clamp: 4;
        }

        h3.fullName {
          font-size: 1.5rem;
        }

        span.position {
          font-size: 1rem;
        }
      }
    }
  }
}
