div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  /* border: 1px solid #000; */
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #eaeaea;
  background-color: rgba(250, 250, 250, 0.8);
  backdrop-filter: blur(8px);
  gap: 1rem;
  /* box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.05); */
  z-index: 10;

  /* &:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 2em #007bffc9);

  } */

  .icon {
    font-size: 1.8rem;
    color: #24292e;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  a:first-of-type .icon {
    color: #0e76a8;
  }

  a:nth-of-type(3) .icon {
    color: #0e9f0e;
  }

  a:last-of-type .icon {
    color: var(--details);
  }
}

/* div.container::before {
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(8px);
} */
