div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  /* border: 1px solid #000; */
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid light-dark(#eaeaea, #1e1e1e);
  background-color: light-dark(rgba(250, 250, 250, 0.8), rgba(30, 30, 30, 0.8));
  backdrop-filter: blur(8px);
  gap: 1rem;
  /* box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.05); */
  z-index: 9;

  /* &:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 2em #007bffc9);

  } */

  .icon {
    font-size: 1.8rem;
    color: light-dark(#24292e, #c9d1d9);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  a:first-of-type .icon {
    color: light-dark(#0e76a8, #0e76a8);
  }

  a:nth-of-type(3) .icon {
    color: light-dark(#0e9f0e, #0e9f0e);
  }

  a:is(:nth-of-type(4), :last-of-type) .icon {
    color: var(--details);
  }
}

/* div.container::before {
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(8px);
} */

@media only screen and (max-width: 768px) {
  /* div.container {
    top: auto;
    bottom: 2%;
    right: 50%;
    left: auto;
    transform: translateX(50%);
    flex-direction: row;
    padding: 0.5rem 1rem;
  } */

  div.container {
    right: 5%;
    padding: 0.5rem 1rem;

    /* a {
      .icon {
        font-size: 1.8rem;
      }
    } */
  }

  /* body:has(ul.sidebarContainer.isSidebarActive) {
    div.container {
      display: none !important;
    }
  } */

  /* div.container {
    top: auto;
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
    flex-direction: row;
  } */
}
