button.toggleButton {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* height: 2.5rem; */
  /* padding: 0.5rem 0.75rem; */
  /* padding: 0rem 0rem 0rem 0.5rem; */
  width: 100%;
  transition: all 0.3s ease-in-out;
  color: var(--text-aux-color);
  text-align: left;

  &:hover {
    /* background-color: #F5F5F5; */
    color: var(--text-color);
    font-weight: 600;
  }

  &:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;

    /* outline: none;
    box-shadow: 0 0 0 3px var(--accent-color-light);
    border: 2px solid var(--accent-color); */
  }
}
