section.workExperience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1.5rem 2rem;

  header.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.workExperienceHeading {
      font-size: 2.8rem;
      text-align: center;
    }

    span {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  div.experiencesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* width: 100%;
    max-width: 64rem; */
    position: relative;

    div.experience {
      /* header.header {
        display: none;
      } */
      /* display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; */
      /* gap: 0.5rem; */

      position: relative;
      /* gap: 0.5rem; */

      h3.company {
        /* font-size: 1.6rem;
        font-weight: 600; */

        a.companyLink {
          text-decoration: none;
          color:
            /* var(--text-color) */
            inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      a.logoLink {
        text-decoration: none;

        img.logo

        /* ,
        img.logoHeader */
          {
          position: absolute;
          top: 0rem;
          left: -5rem;
          width: 4rem;
          height: 4rem;
          aspect-ratio: 1/1;
          object-fit: contain;
          object-position: center;
          background-color: #F5F5F5;
          background-color: rgba(250, 250, 250, 0.8);
          border: 1px solid #eaeaea;
          border-radius: 50%;
          /* margin-bottom: 1rem; */
        }
      }

      h4.title {
        /* font-size: 1.4rem;
        font-weight: 500;
        margin-top: 0.2rem; */

        a.titleLink {
          text-decoration: none;
          color:
            /* var(--text-color) */
            inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      /* span.type {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--details);
      } */

      p.dateAndDuration,
      p.locationInfo {
        /* font-size: 1.1rem; */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        color: var(
            /* --details */
            --text-aux-color);
        /* margin-top: 0.3rem; */
      }

      span.location {
        /* font-size: 1.1rem; */
        /* display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem; */
        color: var(
            /* --details */
            --text-aux-color);
        /* margin-top: 0.2rem; */

        a.locationLink {
          text-decoration: none;
          color:
            /* var(--text-aux-color) */
            inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      span.locationType {
        /* font-size: 1.1rem; */
        color: var(
            /* --details */
            --text-aux-color);
        /* margin-left: 0.5rem; */
      }

      /* width: 100%; */
      ul {
        list-style: disc;
        list-style-position: inside;
        /* padding-left: 1rem; */

        li {
          max-inline-size: 64ch;
          /* color: var(--details); */
        }
      }

      a.viewMoreLink {
        text-decoration: none;
        /* font-size: 1.2rem; */
        font-weight: 500;
        color: var(--accent-color);
        /* margin-top: 0.5rem; */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* gap: 0.5rem; */

        margin-top: 0.5rem;
        border: 1px solid var(--accent-color);
        padding: 0.3rem 0.5rem;
        border-radius: 1.5rem;
        font-size: 0.9rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          /* text-decoration: underline; */

          background-color: var(--accent-color);
          color: #fff;
          transform: scale(1.05);
        }
      }
    }
  }

  /* hr.line, */
  div.experiencesContainer::before {
    content: '';
    position: absolute;
    top: 35%;
    /* Centro del contenedor */
    left: -7.5%;
    width: 1.5px;
    /* Ajusta el ancho de la línea */
    height: 45%;
    /* Ajusta la altura de la línea (50% de la altura del contenedor) */
    background-color: #eaeaea;
    /* Ajusta el color de la línea */
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 768px) {
  section.workExperience {
    padding: 0 1.5rem 1.5rem 1.5rem;

    header.header {
      h2.workExperienceHeading {
        font-size: 2rem;
      }

      span {
        font-size: 1.2rem;
        width: 32ch;
      }
    }

    div.experiencesContainer {
      div.experience {

        /* h3.company,
        img.logo {
          display: none;
        } */

        /* header.header {
          display: flex !important;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          margin-bottom: 0.5rem; */

        img.logo {
          position: static;
          /* top: 0rem;
          left: -25rem; */
          width: 3.5rem;
          height: 3.5rem;
          /* margin-bottom: 1rem; */
        }

        /* } */

        p.dateAndDuration,
        p.locationInfo {
          gap: 0.3rem;
        }
      }

      /* hr.line, */
      /* div.experiencesContainer::before {
        left: 50%; */
      /* Centro del contenedor */
      /* } */
    }
  }
}
