nav {
    background-color: hsl(0, 0%, 20%);
}

nav a:not(:first-child) {
    display: flex;
    /* justify-content: flex-end;
    align-items: center; */
}

nav a.btn {
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
}

nav a.btn:hover, nav a.btn:focus, nav a.btn-active {
    background-color: var(--tertiary-color);
}
