nav {
    background-color: hsl(0, 0%, 20%);
}

nav a:not(:first-child) {
    display: flex;
   /*  justify-content: space-between;
    align-items: center;
    display: inline-flex; */
}

nav a.btn {
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
}

nav a.btn:hover, nav a.btn-active {
    background-color: var(--tertiary-color);
}
